
body {
    height: 100vh;
}
.wrapper {
    padding: 2rem;
    align-items: center;
    text-align: center;
}


.leftSide {
    width: 30%;
}


.aboutHeader {
    font-size: 3rem;

}

.aboutImg {

    width: 20rem;
    height: 20rem;
    border: 4px solid black;
}

.aboutText {
    margin-top: 3vh;
    width: 60%;
    font-size: 1.4rem;
    
}

@media screen and (max-width: 730px) {
    .aboutText {
        font-size: 1.5vh;
    }
}
    .aboutImg {
        align-self: center;
    }
    .aboutText {
        width: 100%;
        text-align: center;
    }
