body {
    height: 100vh;
}


.wrapper {
    padding: 2rem;
    height: auto;
    align-items: center;
    text-align: center;
}


.leftSide {
    width: 30%;
}


.aboutHeader {
    font-size: 3rem;

}

.aboutImg {

    width: 20rem;
    height: 20rem;
    border: 4px solid black;
}

.aboutText {
    margin-top: 3vh;
    width: 60%;
    font-size: 1.4rem;
}



    .aboutImg {
        align-self: center;
    }
    .aboutText {
        width: 100%;
        text-align: center;
    }

    .footer {
    display: flex;

        margin-top: 20vh;
        margin-bottom: 0;
        width: 100%;
        background-color: #384251;
        height: 4vh;
        justify-content: end;
        align-items:center;   
 }

    .footer p {
        color: white;
        margin-right: 2vw;
    }